{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
  <h1>Iniciar Sesión</h1>
  <form method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}

    <input class="btn btn-primary" type="submit" value="{% trans 'Identificarse' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p>¿{% trans "Has olvidado la contraseña" %}? <a href="{% url 'auth_password_reset' %}">¡{% trans "Restablécela" %}!</a></p>
  <p>¿{% trans "Todavía no te has registrado" %}? <a href="{% url 'registration_register' %}">¡{% trans "Regístrate" %}!</a></p>
</div>
{% endblock %}
